
@import 'variables';
@import 'mixins';

@function color($color-name) {
    @return map-get($colores, $color-name);
}
.fondo{
    background-color: color(negro);
}
.navegacion_Color{
    background-color: color(negro);
}
@include celulares  {
    .fondo{
        background-image: url(../images/img1.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        position: relative;
        margin-bottom: 2rem;
    }


}
.bg-trabajos{
    background-image: url(../images/img5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom : 2rem;
    }
    @include celulares{
    .bg-trabajos{
       background-image: none;
       background-color: color(marron);
    }
    }