
@import 'variables';

@function color($color-name) {
    @return map-get($colores, $color-name);
}
.fondo{
    background-color: color(negro);
}
.navegacion_Color{
    background-color: color(negro);
}
@media (min-width: 768px)  {
    .fondo{
        background-image: url(../images/img1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        position: relative;
        margin-bottom: 2rem;
    }


}