@import 'variables';

@function color($color-name) {
    @return map-get($colores, $color-name);
}


.fondo_footer{
    background-color: color(negro);
    }
    .navegacion_footer{
        text-align: center;
    }
    .navegacion_footer li{
         display: inline-block;
        max-width: 3rem;
        padding: 1rem;
      
    }
    
    .copyright{
        text-align: center;
    }