.fondo_footer{
    background-color: rgb(0, 0, 0);
    }
    .navegacion_footer{
        text-align: center;
    }
    .navegacion_footer li{
         display: inline-block;
        max-width: 3rem;
        padding: 1rem;
      
    }
    
    .copyright{
        text-align: center;
    }