@import 'variables';

@function color($color-name) {
    @return map-get($colores, $color-name);
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info p{
    text-align: center;
    width: 18rem;
    
}

.info_Caja{
border-bottom: 1px solid color(negro);
}

.info_Fotos{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
}

.fondo-info{
    background-color: color(rosa);
    margin-top: 2rem;
}

@media (min-width:1023px) {
    .info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       
    
    }
    .info_Caja{ 
        justify-self: center ;
    }
    
}
