@import 'variables';

.mapa{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mapa p{
     text-transform: uppercase;
    font-family: $font-secundaria;
}
.mapa iframe{
    width: 20rem;
    height: 20rem;

}