@import 'variables';
@import 'mixins';

@function color($color-name) {
    @return map-get($colores, $color-name);
}

h1{
    text-align: center;
    color:color(negro);
    font-size: 0.1px;
    font-family: 'Koulen', cursive;

}

h2{
    text-align: center;
    color: color(negro);
    font-size: 0.1px;
    font-family: 'Koulen', cursive;
}
@include celulares{
    h1{
        font-size: 3rem;
        color: color(blanco);
    }
    h2{
        font-size: 1.5rem;
        padding-bottom: 6rem;
        color: color(blanco);
    }
}


.titulo-Trabajos{
    color: color(negro);
    font-size: 3rem;
    background-color: color(marron);
    
}

.titulo-Consejos{
    color:color(negro);
    font-size: 2rem;
    margin-bottom: none;
}

