// mapa de colores
$colores:(negro:#000000, blanco: #ffffff,rosa:#FFBEB9, marron:#EDDBD0, lila:hsl(290, 100%, 92%) );


//tipografias

$font-primaria: 'Krub', sans-serif;
$font-secundaria: 'Koulen', cursive;
$font-tercer: 'Hepta Slab', serif;



//brakepoints

$celulares: 768px;
$desktop: 1023px;